@page "/TopicsControl/{authToken}/{owner}/{repo}"

@code
{
    [Parameter]
    public string Owner { get; set; }
    [Parameter]
    public string Repo { get; set; }
    [Parameter]
    public string AuthToken { get; set; }

    public Topics _Topics { get; set; }

    public class Tag
    {
        public string name { get; set; }
    }

    public class Topics
    {
        public List<String> names { get; set; }
    }

    protected override void OnInitialized()
    {
        GetTags();
    }


    async Task GetTags()
    {
        try
        {
            using (var client = new HttpClient())
            {
                client.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Token", AuthToken);
                client.DefaultRequestHeaders.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/vnd.github.mercy-preview+json"));
                _Topics = await client.GetJsonAsync<Topics>("https://api.github.com/repos/"+Owner+"/"+Repo+"/topics");
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

@if(_Topics != null)
{
    foreach (var name in _Topics.names)
    {
        @name <span>&nbsp;</span>
    }
}
